@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
body{
  position: relative;
  background: linear-gradient(
    180deg,
    #030612,
    #272933 24.01%,
    #33353e 52.01%,
    #242731 75.01%,
    #050814
  ) center/cover no-repeat;
}
::-webkit-scrollbar {
  width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: #888;
  }